body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.5em;
    -webkit-text-size-adjust: 100%;
    color:#272727;
}

#content {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 0.8em;
}

header {
    text-align: center;
    margin-top: 1.875em;
    margin-bottom: 2.188em;
}

#logo {
    display: block;
    width: 100px;
    height: 102px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 2.188em;
    margin-bottom: 1.875em;
    font-size: 0.9em;
    text-align: center;
}

b {
    color: black;
}

h1 {
    font-size: 2em;
    margin-top: 0.313em;
    color: black;
}

h2 {
    font-size: 1.5em;
    margin-top: 1.2em;
    color: black;
}

pre {
    overflow: scroll;
}

code, pre {
    font-family: "Source Code Pro", Menlo, Consolas, monospace;
}

code {
    font-size: 0.813em;
    background-color: #f2f2f2;
    border: 1px solid #b0b0b0;
    padding: 1px 4px;
}

#error_text {
    text-align: center;
}

#attribution {
    margin-left: 4em;
    margin-right: 4em;
}

#warning_standout {
    border: 1px solid grey;
    padding: 6px;
}

#warning_image {
    width: 29px;
    height: 27px;
}

#warning_image_container {
    float: left;
}

#warning_text {
    margin-left: 38px;
}

.green_text {
    color: green;
}

.clear_floats {
    clear: both;
}

a:link { color: #CC5200; }
a:visited { color: #CC5200; }
a:hover { color: #FF5050; }
a:active { color: #CC5200; }

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
