body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

#content {
    width: 510px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-top: 1.875em;
    margin-bottom: 2.188em;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 1.875em;
    margin-bottom: 1.875em;
    font-size: 0.9em;
    text-align: center;
}

h1 {
    margin-top: 0.313em;
}

h2 {
    margin-top: 1.2em;
    line-height: 1em;
}

code, pre {
    font-family: "Source Code Pro", Menlo, Consolas, monospace;
}

code {
    font-size: 0.813em;
    background-color: #f2f2f2;
    border: 1px solid #b0b0b0;
    padding: 1px 4px;
}

.error_text {
    text-align: center;
}

.attribution {
    margin-left: 4em;
    margin-right: 4em;
}

a:link { color: #CC5200; }
a:visited { color: #CC5200; }
a:hover { color: #FF5050; }
a:active { color: #CC5200; }
